body {
    margin: 0;
}



.corner{
    
    height:190px;
    display: block;
    position: fixed;
    float:left;
   
}

.header{
    font-size: 6em;
    font-family: 'Fjalla One', sans-serif;
    padding: 60px 0 0 10px;
    text-align: center;
    

}



.subheader{
    
    text-align: center;
    font-size: 3em;
    font-family: 'Fjalla One', sans-serif;
    
}



.links{

    float: left;
   
   
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.links a {
    display: block;
    color: #ea8ed5;
    padding: 26px 0 8px 26px;
    text-decoration: none;
    text-align: left;
    font-family: sans-serif;
    border-bottom: dashed 0.7px;
   
}

li a.active {
    background-color: #ffbef0;
    color: white;
}

li a:hover:not(.active) {
    background-color: #fdd4f4;
    color: white;
}

.image {
    
    width: 30%;
    display: block; /* image as a block of its own*/
    margin-left: auto;
    margin-right: auto;
   
}


.questions{
    padding-left:20%;
    padding-right:5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.questions h2{
    font-family: 'Open Sans Condensed', sans-serif;
    
}

.questions p{
    
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
}

.questions ul{
    
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;

}

/*page 3.html*/





.body3{
    padding-left:20%;
    padding-right:5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}



.column img{
    
    padding-top:20px;
    width: 80%;
    
    
    
}


.column a{
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    color: #ea8ed5;
    font-family: sans-serif;
    
    
}

.column{
    float: left;
}

/* image galleries*/

.gallery {
    
    padding: 0 16% 0 15%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}


.gallery p{
    
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    text-align: 

}

.gallery a{
    color: #ea8ed5;
    text-decoration: none;
    font-family: sans-serif;
    border-bottom: dashed 0.7px;
    
}
.thumbnails img {
		height: 70px;
        width: 90px;
		border: 1px solid #ffffff;
		padding: 1px;
		margin: 0 10px 10px 0;
	}


.thumbnails img:hover {
		border: 2px solid #ea8ed5;
		cursor:pointer;
	}


.preview {
    
     text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.preview img {
		border: 2px solid #ea8ed5;
		padding: 1px;
		width: 500px;
	}
    
/*page4.html*/
.screen img{
    
    padding-top:20px;
    width: 30%;
    
    
}
.screen a{
    
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    color: #ea8ed5;
    font-family: sans-serif;
    

    
}
</style>
</style>